:root {
  --darkplus-bg: #2c2a2c;
  --darkplus-bg2: #383538;
  --darkplus-sec: #fad9f6;
  --darkplus-links: #e6c4e3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/916781797977768076/1275571324600975512/dcpink.png?ex=66c65fde&is=66c50e5e&hm=3fc6fe542b085f930a024af2cbf629321cee14ad13aedc8de81285c197e2b63a&);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-rg: #3d383d;
  --darkplus-rg2: #504a50;
  --background-secondary: #383538;
}
.bg_d4b6c5,
.container_e40c16 {
  background-color: var(--darkplus-bg);
}
.bg_d4b6c5 {
  background-color: var(--darkplus-bg);
}
.scrollerInner_e2e187 {
  background-color: var(--darkplus-bg);
}
.container_fc4f04.themed_fc4f04 {
  background: var(--darkplus-bg);
}
.content-2a4AW9 {
  background-color: var(--darkplus-bg);
}

.sidebarRegion_c25c6d {
  background-color: var(--darkplus-bg);
}

.searchBar_f0963d {
  background-color: var(--darkplus-bg);
}
.searchBar_f0963d .searchBarComponent_f0963d {
  background-color: var(--darkplus-bg2);
  border-radius: 20px;
}
.scroller_c47fa9.thin_eed6a8.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--darkplus-bg);
}
.panel_bf1a22.activityPanel_a4d4d9 {
  background-color: var(--darkplus-bg);
}
.container_b2ca13 {
  background-color: var(--darkplus-bg);
}
.form_a7d72e {
  background-color: var(--darkplus-bg);
}
.form_a7d72e .channelTextArea_a7d72e .textArea_d0696b .placeholder__443e5 {
  color: var(--darkplus-sec);
}
.form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b {
  max-height: 45vh;
  background-color: var(--darkplus-bg2);
  border-radius: 22px;
}
.form_a7d72e .channelTextArea_a7d72e {
  background-color: transparent;
}
.form_a7d72e:before {
  display: none;
}
.scroller_e2e187 {
  background-color: var(--darkplus-bg);
}
.peopleList_e0840f.auto-2K3UW5.scrollerBase-_bVAAt {
  background-color: var(--darkplus-bg);
}
.children_fc4f04:after {
  display: none;
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.customStatusActivity-WKWGD- {
  background-color: var(--darkplus-bg);
}
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag_cd0810 {
  background-color: var(--darkplus-bg);
}

.member_cbd271 {
  background-color: var(--darkplus-bg);
}

.membersGroup_cbd271 {
  color: var(--darkplus-links);
}

.topSection-13QKHs {
  background-color: transparent;
}
.container_bf550a {
  background-color: var(--darkplus-bg);
}
.container_bf550a .scroller_bf550a {
  margin-left: 0;
  border-left: none;
}

.wrapper_cd82a7 {
  background-color: var(--darkplus-rg);                  /*rg*/
  border: none;
}
.wrapper_cd82a7:hover,
.wrapper_cd82a7.active_ac5d22 {
  background-color: var(--darkplus-rg2) !important; 
}
.wrapper_cd82a7 .inset_ac5d22 {
  background-color: var(--darkplus-rg2);                 /*rg2*/
}
.wrapper_cd82a7 .section_cd82a7 {
  background-color: var(--darkplus-rg2);
}
.header_fd6364 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.mention_edf32f {
  background-color: var(--darkplus-sec);
}
.mentioned_d5deea {
  background-color: rgba(var(--darkplus-sec), 0.1) !important;
}
.mentioned_d5deea:before {
  background-color: var(--darkplus-sec);
}
.mentioned_d5deea:hover {
  background-color: rgba(var(--darkplus-sec), 0.2) !important;
}

.iconBadge_fc4f04 {
  background-color: var(--darkplus-sec);
}
.container_b2ca13 .button_adca65:nth-child(1) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container_b2ca13 .button_adca65:nth-child(2) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container_b2ca13 .button_adca65:nth-child(3) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.container_b2ca13 .button_adca65:nth-child(4) .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}

.attachButton_f298d4 .contents-3ca1mk path {
  fill: var(--darkplus-sec);
}
.attachButton_f298d4:hover .attachButtonPlus_f298d4 {
  fill: var(--darkplus-links);
}
.button_dd4f85 .contents-3ca1mk path {
  color: var(--darkplus-sec);
}

.button_f7e168 path {
  fill: var(--darkplus-sec);
}

.item-1OdjEX path {
  fill: var(--darkplus-sec);
}

.iconWrapper_fc4f04 path {
  color: var(--darkplus-sec);
}

.linkButtonIcon_c91bad path {
  color: var(--darkplus-sec);
}

.actionButton_e01b91 path {
  color: var(--darkplus-sec);
}
.buttonIcon_adcaac path {
  fill: var(--darkplus-sec);
}

.icon_effbe2 path {
  fill: var(--darkplus-sec);
}

.actionIcon_f6f816 path {
  fill: var(--darkplus-sec);
}
.wrapper_d8bfb3.modeUnreadImportant_d8bfb3
  .wrapper_d8bfb3
  .mainContent-20q_Hp
  .icon_d8bfb3 {
  color: var(--darkplus-links);
}
.wrapper_d8bfb3 .wrapper_d8bfb3 .mainContent-20q_Hp .icon_d8bfb3 {
  color: var(--darkplus-sec);
}

.wrapper_d8bfb3.modeUnreadImportant_d8bfb3
  .wrapper_d8bfb3
  .mainContent-20q_Hp
  .channelName-3KPsGw {
  color: var(--darkplus-links);
}

.metadataIcon_f316dd path {
  fill: var(--darkplus-sec);
}

.controlIcon_f316dd path {
  color: var(--darkplus-sec);
}

.data-slate-string path {
  color: var(--darkplus-sec);
}
.winButton_a934d8 {
  color: var(--darkplus-sec);
}
.VoiceChatNotifications-button-icon {
  color: var(--darkplus-sec);
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.progressBar-1T6LYX,
.mediaBarWrapper_f7877e .mediaBarGrabber_f7877e,
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before {
  background-color: var(--darkplus-sec);
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e {
  background-color: var(--darkplus-links);
}
.stageSection-3mAD8V {
  background-color: var(--darkplus-bg);
}

.featuredTag-3pT1Rf {
  background-color: var(--darkplus-bg2);
}
.colorHeaderPrimary-jN_yGr {
  color: var(--darkplus-sec);
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.scroller_ad8f79 {
  background-color: var(--darkplus-bg);
}
.header_f1629a {
  background-color: var(--darkplus-bg);
  border-bottom: none;
}
.headerCellContent_a6e298 {
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover,
.theme-light .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q:hover {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg2);
}
.nameCellText_f1629a {
  color: var(--darkplus-sec);
}
.scroller_c100ff {
  background-color: var(--darkplus-bg);
}
.anchor-1MIwyf {
  color: var(--darkplus-sec);
}
.icon_effbe2 {
  height: 24px;
  width: 24px;
  color: var(--darkplus-sec);
}
.iconContainer_effbe2 {
  bottom: 5px;
}
.search_ff5f90 {
  margin-left: 0px;
}

.search_ff5f90 {
  order: -1;
}
.searchBar-zdmu7v {
  width: 28px;
  transition: width 0.5s ease-in-out;
}
.focused-8aNhVB .searchBar-zdmu7v,
.open-3y3yI_ .searchBar-zdmu7v,
.searchBar-zdmu7v:hover {
  width: 150px;
}
.downloadButton__3fb6d {
  color: var(--darkplus-sec);
}
.downloadButton__3fb6d:hover {
  color: var(--darkplus-links);
}
.name_d808b0 {
  color: var(--darkplus-sec);
}
.title_fc4f04 {
  color: var(--darkplus-sec);
}
.children_d808b0 {
  color: var(--darkplus-sec);
}
.headerText_c47fa9 {
  color: var(--darkplus-sec);
}
.clickable_fc4f04 .icon_fc4f04 {
  color: var(--darkplus-sec);
}
.clickable_fc4f04:hover .icon_fc4f04 {
  color: var(--darkplus-links);
}
.item_c2739c.item-3XjbnG.themed-2-lozF {
  color: var(--darkplus-sec);
}

.childWrapper_a6ce15 path {
  fill: transparent;
}
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {
  background: var(--darkplus-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}

.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {
  display: none;
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  color: var(--darkplus-links);
}
.grid_b0068a {
  background-color: var(--darkplus-bg2);
}

.contents_f9f2ca .messageContent_f9f2ca, .container_b558d0 {
  background-color: var(--darkplus-bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.messageContent_f9f2ca:empty {
  display: none !important;
}

article.embedWrapper_b558d0.embedFlexGrow_b558d0.embedFull_b0068a.embed_b0068a.markup_f8f345.justifyAuto_b0068a {
  width: 432px;
}

.markup_f8f345 blockquote, .markup_f8f345 pre {
  max-width: 100%;
}

.avatar_f9f2ca.clickable_f9f2ca {
  filter: drop-shadow(0 0 5px);
  color: var(--darkplus-sec);
}
.avatar_f9f2ca:hover.clickable_f9f2ca:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--darkplus-sec);
  transform: scale(1.2) rotate(360deg); 
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}

.title_a7d72e.container_fc4f04.themed_fc4f04, .theme-dark .children_fc4f04:after {
  background: var(--darkplus-bg);
}

.clickable_fc4f04 .icon_fc4f04 {
  color: var(--darkplus-sec);
}

.buttonWrapper_f9af59 svg {
  color: var(--darkplus-sec);
}

.membersGroup_cbd271 {
  color: var(--darkplus-sec);
}

.sidebar_a4d4d9 + div {
  background-color: var(--darkplus-bg);
}

.theme-dark .container_b2ca13 {
  background-color: var(--darkplus-bg);
}

.chatContent_a7d72e {
	max-width: calc(100% - 60px);
}

.title_a7d72e {
	z-index: 11;
}

.members_cbd271,
.membersWrap_cbd271, .container_cbd271 {
	min-width: 60px;
	transition-duration: 500ms;
	transition-property: box-shadow, min-width, width;
	width: 60px;
	z-index: 10;
}

.members_cbd271:hover,
.membersWrap_cbd271:hover {
	min-width: 240px;
	width: 240px;
}

.membersWrap_cbd271 {
	height: 100%;
	position: absolute;
	right: 0;
}

.membersWrap_cbd271:hover {
	box-shadow: 0 0 20px 10px #00000044;
}

.membersGroup_cbd271 {
	height: 0;
	transition-duration: 500ms;
	transition-property: height;
}

.members_cbd271:hover .membersGroup_cbd271 {
	height: 40px;
}

/*.membersWrap_cbd271 {
  min-width: unset;
}
.membersWrap_cbd271 .members_cbd271 {
  max-width: 65px;
  min-width: 65px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.membersWrap_cbd271 .members_cbd271:hover {
  max-width: 240px;
  min-width: 240px;
}
.membersWrap_cbd271 .members_cbd271 .content-2a4AW9:not(:hover) {
  padding-top: 10px;
  background-color: var(--darkplus-bg);
}

.membersGroup_cbd271 {
  margin-left: 60px;
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.members_cbd271,
.members_cbd271 > div {
  background-color: var(--darkplus-bg);
}
*/

/* old userarea
.container_b2ca13 {
  height: 85px;
}
.container_b2ca13 .avatarWrapper_b2ca13 {
  position: absolute;
  bottom: 45px;
}

.container_b2ca13 > .noWrap_ec1a20 {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container_b2ca13 > .noWrap_ec1a20 button {
  width: 100%;
  justify-content: space-evenly;
}
*/



.sidebarRegionScroller_c25c6d {
  background-color: var(--darkplus-bg);
}

.contentRegion_c25c6d {
  background-color: var(--darkplus-bg);
}
.contentRegion_c25c6d .contentRegionScroller_c25c6d {
  background-color: transparent;
}

.background_b69b77 {
  padding: 0;
  background-color: var(--darkplus-bg2);
  border-radius: 30px;
}
.background_b69b77 .profile_d6fbe8 {
  padding: 16px;
}
.background_b69b77 .fieldList_b69b77 {
  padding: 16px;
  background-color: transparent;
}
.background_b69b77 .constrainedRow_b69b77 .button_dd4f85 {
  margin-left: 8px;
}
.layer_d4b6c5  {
  background-color: var(--darkplus-bg);
}
.item-3XjbnG.themed-2-lozF {
  color: var(--darkplus-sec);
}
.header-2Kx1US {
  color: var(--darkplus-sec);
}
.theme-dark .foreground-2hyALB {
  fill: var(--darkplus-sec);
}
.theme-dark .bd-social-logo path {
  fill: var(--darkplus-sec);
}
.feature-2IUcBI {
  background-color: var(--darkplus-bg2) !important;
}
.theme-dark .closeButton_df5532 {
  border-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
  background-color: var(--darkplus-links);
}
.defaultColor-2cKwKo {
  color: var(--darkplus-sec);
}
.menu_c8834f {
  margin-right: 16px;
  color: var(--darkplus-sec);
  cursor: pointer;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.description-30xx7u,
.labelDescriptor-34wZ-z {
  color: var(--darkplus-links);
}
.h5-2RwDNl {
  color: var(--darkplus-sec);
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
  color: var(--darkplus-bg);
}
.lookLink-15mFoz.colorLink-1Md3RZ {
  color: var(--darkplus-links);
}
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--darkplus-sec);
}
.title-2dsDLn {
  color: var(--darkplus-sec);
}
.unread_d8bfb3 {
  background-color: var(--darkplus-sec);
}
.overflow_a82120 {
  color: var(--darkplus-links);
}
.arrow_d64d50.icon_a08117 {
  color: var(--darkplus-sec);
}
.jumpToPresentBar_cf58b5 {
  background-color: var(--darkplus-sec);
  border-radius: 20px;
}
.barButtonBase_cf58b5 {
  color: var(--darkplus-bg);
}
.numberBadge__40d6f {
  background-color: var(--darkplus-sec) !important;
  color: var(--darkplus-bg);
}
.item_c4cd66 {
  background-color: var(--darkplus-sec);
}
.container_adcaac {
  background-color: var(--darkplus-bg);
}
.button_adcaac.buttonColor_adcaac,
.button_adcaac .buttonColor_adcaac {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.subtext_be40e6 {
  color: var(--darkplus-links);
}
.addButtonIcon_a08117 {
  color: var(--darkplus-sec);
}
.addButtonIcon_a08117:hover {
  color: var(--darkplus-links);
}
.header-S26rhB {
  background-color: var(--darkplus-bg);
}
.activity-2M3PRB {
  background-color: var(--darkplus-bg);
}
.infoScroller-1QMpon.thin_eed6a8.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--darkplus-bg2);
}
.activityHeader-2shpl0 {
  color: var(--darkplus-sec);
}
.circleIconButton_db6521 {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg2);
}
.circleIconButton_db6521.selected_db6521 {
  color: var(--darkplus-bg2);
  background-color: var(--darkplus-sec);
}
.tabBar-2hXqzU {
  background-color: transparent;
}

button.button_adca65 {
  color: var(--darkplus-sec);
}

.activeButtonChild_a06035, .theme-dark .button_a06035:hover .activeButtonChild_a06035 {
  color: var(--darkplus-sec);
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  border-bottom-color: var(--darkplus-sec);
}
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  border-bottom-color: var(--darkplus-links);
}
.additionalActionsIcon-3Cy8UU {
  color: var(--darkplus-sec);
}
.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.newMessagesBar_cf58b5 {
  background-color: var(--darkplus-sec);
}
.unreadPill_c2654d {
  background-color: var(--darkplus-sec);
}
#app-mount .divider_c2654d.isUnread_c2654d {
  border-top: 1px solid var(--darkplus-sec);
}
.unreadPillCapStroke_c2654d {
  color: var(--darkplus-sec);
  fill: var(--darkplus-sec);
}
.label-2gNW3x {
  color: var(--darkplus-sec);
}
#permissions-modal-wrapper #permissions-modal {
  height: 80%;
}
#permissions-modal-wrapper .modal-body .perm-side {
  width: 400px;
}
#permissions-modal-wrapper .perm-scroller .perm-item {
  height: unset;
}
#permissions-modal-wrapper .perm-scroller {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, calc(100% / 17));
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  margin-left: 5px;
}
#permissions-modal-wrapper .perm-scroller svg {
  height: 20px !important;
  width: 20px !important;
}

#permissions-modal-wrapper .header {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .role-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  color: var(--darkplus-sec);
}
.title {
  color: var(--darkplus-sec);
}
.editingContainer-1_nnqZ,
.modalContent-317Xyq {
  background-color: var(--darkplus-bg);
}
.header-1zd7se {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer-31IekZ {
  background-color: var(--darkplus-bg);
}
.icon-3CEl7H {
  color: var(--darkplus-sec);
}
.grabber-2GQyvM {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}
.avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.item_c2739c[aria-label="Add Friend"] {
  color: var(--darkplus-bg) !important;
  background-color: var(--darkplus-sec) !important;
}
.addInputWrapper-1BOZ3d {
  background-color: var(--darkplus-bg);
}
.colorStandard-21JIj7 {
  color: black;
}
.wrapper-1cBijl {
  background-color: var(--darkplus-bg2);
}
.addFriendInput_de812f::placeholder {
  color: var(--darkplus-sec);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
  background-color: var(--darkplus-links);
}
.header_c96274 {
  color: var(--darkplus-sec);
}
.description-1EvxpH {
  color: var(--darkplus-links);
}
.friendsEmpty_a62993 {
  background-color: var(--darkplus-bg);
}
.button-Jt-tIg {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
}
#bd-pub-button {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
#bd-pub-button:hover {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.iconBadge-3qSJIw {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.label-2wRs_g {
  color: var(--darkplus-sec);
}
.quickswitcher_f4e139 {
  background-color: var(--darkplus-bg);
}
.input_f4e139 {
  background-color: var(--darkplus-bg2);
}
.input_f4e139::placeholder {
  color: var(--darkplus-sec);
}
.header_e3c1c6 {
  color: var(--darkplus-sec);
}
.match_e3c1c6 {
  color: var(--darkplus-sec);
}
.note_e3c1c6 {
  color: var(--darkplus-links);
}
.miscContainer_f4e139 {
  color: var(--darkplus-links);
}
.theme-dark .wrapper_d4fa29 {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.container-36u7Lw {
  background-color: var(--darkplus-bg);
  border-color: var(--darkplus-bg);
}
.container-x8Y1ix {
  background-color: var(--darkplus-sec);
}
.container-x8Y1ix:hover {
  background-color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-bg);
}
.title-1_TkpU {
  color: var(--darkplus-sec);
}
.subtitle-3m-md1 {
  color: var(--darkplus-links);
}
.footerTitle-3Bslxi {
  color: var(--darkplus-sec);
}
.title-1LqMUp {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-g5teka {
  color: var(--darkplus-links);
}
.formTitle-2YQyhj {
  color: var(--darkplus-sec);
}
.sampleLink-5BWNy9 {
  color: var(--darkplus-links);
}
.input-2g-os5 {
  background-color: var(--darkplus-bg2);
}
.input-2g-os5::placeholder {
  color: var(--darkplus-sec);
}
.thin_eed6a8.scrollerBase-_bVAAt {
  background-color: var(--darkplus-bg);
}
.avatar_d808b0 {
  color: var(--darkplus-sec);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--darkplus-bg2);
}
.base-21yXnu {
  color: var(--darkplus-sec);
}
.scroller-3j5xK2 {
  background-color: var(--darkplus-bg);
}
.guildName_e90879 {
  color: var(--darkplus-sec);
}
.searchTitle-1qceKb {
  color: var(--darkplus-bg);
}
.searchBox__56feb.searchBox-31Zv9h {
  background-color: var(--darkplus-sec);
}
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL {
  color: var(--darkplus-bg);
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder {
  color: var(--darkplus-bg);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background-color: var(--darkplus-links);
}
.theme-dark .uploadModal_f82cc7 {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer_f82cc7 {
  background-color: var(--darkplus-bg);
}
.size14-3fJ-ot {
  color: var(--darkplus-sec);
}
.filename_f82cc7 {
  color: var(--darkplus-sec);
}
.scrollableContainer_d0696b {
  background-color: var(--darkplus-bg2);
}
.label_f82cc7 {
  color: var(--darkplus-sec);
}
.optional_f82cc7 {
  color: var(--darkplus-links);
}
button[aria-label="Send a gift"] {
  display: none;
}

.members_cbd271 {
  background-color: var(--darkplus-bg);
}

.typeWindows_a934d8 {
  position: relative;
}
.wordmark_a934d8 {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--darkplus-sec);
}
/*.wordmark_a934d8 > svg {
  display: none;*/


.channelName-3KPsGw,
.subtitle_d8bfb3 {
  color: var(--darkplus-sec);
}

.navButtonActive_af5dbb {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.navButton_af5dbb {
  color: var(--darkplus-sec);
}
.navButton_af5dbb:hover {
  color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-sec);
}
.unicodeShortcut_dfa278 {
  color: var(--darkplus-sec);
}
.unicodeShortcut_dfa278:hover {
  color: var(--darkplus-links);
}
.categoryIcon_dfa278 {
  color: var(--darkplus-sec);
}
.header_e06857 {
  color: var(--darkplus-sec);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--darkplus-sec);
}
.botTagRegular_c89c9a {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg2);
}

.field_b69b77 > div > div > div {
  filter: blur(5px);
}
.field_b69b77 > div > div > div:hover {
  filter: blur(0);
}

.messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2 {
  background-color: var(--darkplus-bg2);
}

.premiumContainer__11813 {
  background-color: var(--darkplus-bg);
}
.scroller__244e5 {
  background-color: var(--darkplus-bg);
}
.sectionDescription-3uMpPK {
  color: var(--darkplus-sec);
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ {
  background-color: var(--darkplus-bg2);
}
.marketingRefreshTier1Logo-38ksW_ {
  color: var(--darkplus-sec);
}
.marketingRefreshDescription-2_tCTt {
  color: var(--darkplus-sec);
}
.perksModalContentWrapper-2HU6uL {
  background-color: var(--darkplus-bg);
}

.resultsGroup-1BPR25 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.tab-2j5AEF.selected-2LAck8 {
  color: var(--darkplus-sec);
}
.queryContainer-EKFJW- {
  background-color: var(--darkplus-bg);
}


.icon_d8bfb3 {
  color: var(--darkplus-sec);
}

.modeUnreadImportant_d8bfb3 .icon_d8bfb3, .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeSelected_d8bfb3 .icon_d8bfb3, .modeSelected_d8bfb3:hover .icon_d8bfb3, .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .modeUnreadImportant_d8bfb3:hover .icon_d8bfb3, .modeConnected_d8bfb3 .name_d8bfb3, .modeConnected_d8bfb3:hover .name_d8bfb3, .modeSelected_d8bfb3 .name_d8bfb3, .modeSelected_d8bfb3:hover .name_d8bfb3, .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3:hover .name_d8bfb3 {
  color: var(--darkplus-links);
}

.name_d8bfb3 {
  color: var(--darkplus-sec);
}

.hasBanner_fd6364 .header_fd6364,
.hasBanner_fd6364 .header_fd6364:hover {
  color: var(--header-primary);
  box-shadow: none;
}
.iconTierOne-s_oiRb,
.iconTierTwo-1JOWNK {
  color: var(--darkplus-bg);
}
.iconCaret-SHvQdG {
  color: var(--darkplus-sec);
}
.pageButton-1GMGeJ {
  color: var(--darkplus-sec);
}

.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}

.hasBanner_fd6364 .header_fd6364,
.hasBanner_fd6364 .header_fd6364:hover {
  background-color: var(--darkplus-bg);
}

.replyBar_b11c5e {
  background-color: var(--darkplus-bg);
}
.closeIcon_b11c5e {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-g5teka {
  color: var(--darkplus-bg);
}

.theme-dark .header_f0cd33 .tabBar_f0cd33 .tab_f0cd33.active_f0cd33 {
  background-color: var(--darkplus-bg2);
}
.theme-dark .header_f0cd33 .tabBar_f0cd33 .tab_f0cd33.active_f0cd33 {
  color: var(--darkplus-sec);
}
.messages_c06487 {
  background-color: var(--darkplus-bg2);
}
.channelHeader_f3978e {
  background-color: var(--darkplus-bg2);
}
.tertiary_ad6d80 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tertiary_ad6d80:hover:not(.disabled__4d064) {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tutorialIcon_f1c3d9 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.secondary__45d4f {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.secondary__45d4f:hover:not(.disabled__4d064) {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.messageContainer_ddb5b4 {
  background-color: var(--darkplus-bg2);
}
.wrapper-22ayhK {
  background-color: var(--darkplus-bg);
}
.scroller_fea3ef {
  background-color: var(--darkplus-bg) !important;
}
.tab-2j5AEF {
  color: var(--darkplus-sec);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--darkplus-bg2);
}
.message_ddc613 {
  background-color: var(--darkplus-bg2);
}
.section_cd82a7 {
  color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-bg);
}
.backButton-2Ps-B8 {
  color: var(--darkplus-sec);
}

.skip-2hTIXL {
  color: var(--darkplus-sec);
}
.grow-2sR_-F,
.sizeIcon-1kBo12 {
  color: var(--darkplus-sec);
}
.input-2g-os5 {
  color: var(--darkplus-sec);
}
.subtitle-bIoUVX {
  color: var(--darkplus-sec);
}
.size14-3fJ-ot {
  color: var(--darkplus-sec);
}
.activity-1gTu-L {
  background-color: var(--darkplus-bg);
}
.rolesList-3uZoaa {
  background-color: var(--darkplus-bg);
}
.base-21yXnu.muted-eZM05q {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.body-2wLx-E {
  background-color: var(--darkplus-bg);
}
.theme-dark .root_f9a4c9 {
  background-color: var(--darkplus-bg);
}
.size12-oc4dx4 {
  color: var(--darkplus-sec);
}
.customStatus_b2ca13 {
  color: var(--darkplus-sec);
  width: 120px;
}
.icons-2dXYop {
  color: var(--darkplus-sec);
}
.selectedIcon-19TbzU {
  color: var(--darkplus-sec);
}
.card-1SdQ2- {
  background-color: var(--darkplus-bg2);
}
.radioBar-3w9XY- {
  background-color: var(--darkplus-bg2);
}
.channelInfo-2wVmf0 {
  color: var(--darkplus-sec);
}
.channelIcon-1su68_ {
  color: var(--darkplus-sec);
}
.radioIconForeground-2BMavi {
  color: var(--darkplus-sec);
}
.selectedIcon-1JOfpo {
  color: var(--darkplus-sec);
}
.ellipsisText-jQS2Ek {
  color: var(--darkplus-sec);
}
.selectorButtonSelected-3Z0WNU {
  background-color: var(--darkplus-bg);
}
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover {
  background-color: var(--darkplus-bg);
}
.cozy_b75bb9.wrapper_b75bb9 {
  background-color: var(--darkplus-bg);
}
.content_c2654d {
  background-color: transparent;
  color: var(--darkplus-sec);
}

.acronym_fb7739 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--darkplus-bg2);
}
.contentWrapper_af5dbb {
  background-color: var(--darkplus-bg);
}
.header_a3bc57 {
  background-color: var(--darkplus-bg);
}
.titlePrimary_c3120f,
.titleSecondary_c3120f {
  color: var(--darkplus-sec);
}
.inspector_c6ee36 {
  background-color: var(--darkplus-bg);
}
.icon-3jQD8H {
  color: var(--darkplus-sec);
}
.bodyInnerWrapper-2bQs1k {
  background-color: var(--darkplus-bg);
}
.footer_edf4d6 {
  background-color: var(--darkplus-bg);
}
.headerTopWithCustomStatus-1aNSNd {
  background-color: var(--darkplus-bg);
}
.headerTop-3GPUSF {
  background-color: var(--darkplus-bg);
}
.memberCountContainer-30IqIo {
  color: var(--darkplus-sec);
}
.icon_fb52f0 {
  color: var(--darkplus-sec);
}
.input__48d49::placeholder {
  color: var(--darkplus-sec);
}
.emptyRoles-35rHsg {
  color: var(--darkplus-sec);
}
.emptyRolesText-30nyzO {
  color: var(--darkplus-sec);
}
.icon_cc7b67 {
  color: var(--darkplus-sec);
}
.label_cc7b67 {
  color: var(--darkplus-sec);
}
.arrow_cc7b67 {
  color: var(--darkplus-sec);
}
.icon_d864ab, .name_ec8679 {
  color: var(--darkplus-sec);
}

.tierLock_da77bd {
  color: var(--darkplus-sec);
}
.tierRequirement_da77bd {
  color: var(--darkplus-sec);
}
.size16-rrJ6ag {
  color: var(--darkplus-sec);
}
.theme-dark .tierBody_da77bd {
  background-color: var(--darkplus-bg2);
}
.wrapper_d864ab {
  background-color: var(--darkplus-bg2);
}

.emptyTierImage_f8c5e7 {
  color: var(--darkplus-sec);
}

.emptyTierImage_f8c5e7,
.unlockTierCtaHeading_f8c5e7 {
  color: var(--darkplus-sec);
}

.css-19bqh2r {
  color: var(--darkplus-sec);
}
.theme-dark .option-2KkUJO:after {
  background: transparent;
}

.textContent_cd82a7 {
  color: var(--darkplus-bg);
}

.categoryItemDefaultCategorySelected_dfa278 .categoryIcon_dfa278,
.categoryItemDefaultCategorySelected_dfa278:hover .categoryIcon_dfa278,
.categoryItemDefaultCategory_dfa278:hover .categoryIcon_dfa278 {
  color: var(--darkplus-sec);
}

.theme-dark .lookOutlined-3yKVGo.colorPrimary-2AuQVo {
  border-color: var(--darkplus-sec);
  color: var(--darkplus-sec);
  border-radius: 25px;
}

.css-4h5swf-singleValue {
  color: var(--darkplus-sec);
}

.theme-dark .message_ddcc45 {
  background-color: var(--darkplus-bg2);
}

.keybindShortcut-3zF1P9 span {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}

.bottomInformationTextContainer_ccd3df,
.stickerResults_ccd3df {
  background-color: var(--darkplus-bg2);
}

.discriminator-1bqsd3 {
  color: var(--darkplus-sec);
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ,
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.resultsGroup-1BPR25 .header-3A13BX {
  color: var(--darkplus-sec);
}

.text-PdAsFQ {
  color: var(--darkplus-bg);
}

.overflowMenuIcon_b69b77 {
  color: var(--darkplus-sec);
}

.username_cd0810,
.discriminator_b69b77,
.headerTagDiscriminatorNoNickname-dfcvHa {
  color: var(--darkplus-sec);
}

.peopleList_e0840f,
.container_fc4f04.themed_fc4f04,
.peopleColumn_c2739c,
.scroller_c47fa9,
.searchBar_f0963d,
.activityPanel_a4d4d9,
.container_b2ca13,
.scroller_e2e187 {
  background-color: var(--darkplus-bg);
}

.theme-dark .children_fc4f04:after {
  background: var(--darkplus-bg);
}

.icon_fc4f04,
.title_fc4f04,
.tabBar_c2739c .item_c2739c,
.brand-3g5E0C.item-3XjbnG:hover,
.themed-2-lozF.item-3XjbnG:hover,
.clickable_fc4f04 .icon_fc4f04,
.clickable_fc4f04:hover .icon_fc4f04:hover,
.title_a1cafe,
.linkButtonIcon_c91bad,
.name_d808b0,
.username_f3939d,
.text_f7ebfd,
.discriminator_f3939d,
.button_adca65,
.button_adca65.enabled_adca65:hover,
.title_d1da5f,
.hovered_e07331,
.customStatus_b2ca13 {
  color: var(--darkplus-sec);
}

.input__48d49,
.medium__5b9a9.iconLayout__67261 {
  background-color: var(--darkplus-sec);
  border-radius: 10px;
}

.input__48d49::placeholder {
  color: var(--darkplus-bg);
}

.icon_fb52f0.visible_c5d475 {
  color: var(--darkplus-bg);
}

.actionButton_e01b91 {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg);
}

.actionButton_e01b91:hover {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}

.selected_d808b0 .layout_d808b0 {
  background-color: var(--darkplus-bg2);
}

.searchBar_f0963d .searchBarComponent_f0963d {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  border-radius: 10px;
}

.members_cbd271,
.members_cbd271 > div {
  background-color: var(--darkplus-bg);
}

.button_f9af59 {
  color: var(--darkplus-sec);
}

.container_cbd271 {
  background-color: var(--darkplus-bg);
}

.attachButtonPlus_f298d4 {
  fill: var(--darkplus-sec);
}

.menu_d90b3d, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}

.item-1OdjEX, .icon_ad923e, .userTagDiscriminatorNoNickname-2HLaIE {
  color: var(--darkplus-sec);
}

.usernameContainer__22048, .activityText_a31c43, .activity-icon {
  color: var(--darkplus-sec);
}

.member_cbd271, .members_cbd271 {
  background-color: var(--darkplus-bg);
}

.scroller-1jBQYo, .infoScroller-3MqKC5, .listScroller-XCVa1H {
  background-color: transparent !important;
}

.theme-dark .container_b2ca13 {
  background-color: var(--darkplus-bg);
}

.container_ee69e0 {
  background-color: var(--darkplus-bg) !important;
}

.container_b385c8 {
  background-color: var(--darkplus-bg);
}

.divider_af45f8 {
  background-color: var(--darkplus-bg2);
}

.headerText_a0, .sidebar_c25c6d .side_a0 .item_a0, .bd-sidebar-header h2 {
  color: var(--darkplus-sec);
}

.content_a7d72e:before {
  box-shadow: none !important;
}

.modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3 .icon_d8bfb3 {
  color: var(--darkplus-links);
}

.theme-dark .scroller_c47fa9 {
  background: var(--darkplus-bg) !important;
}

.wrapper_f7e168 {
  background-color: var(--darkplus-bg2);
}

.numberBadge_df8943, .mentionsBar_eba0ba {
  background-color: var(--darkplus-sec) !important;
  color: var(--darkplus-bg) !important;
}

.theme-dark .themed_fc4f04 {
  background: var(--darkplus-bg);
}

.icon_fc4f04, .title_fc4f04, .icon_c18ec9 {
  color: var(--darkplus-sec);
}

.textContent_cd82a7 {
  color: var(--darkplus-bg) !important;
}

.container_a6d69a {
  background: var(--darkplus-bg);
}

.full-motion .container_d331f1, .selected_f5eb4b {
  background-color: var(--darkplus-bg2);
}

.sprite_d91a75.spriteGreyscale_d91a75.active_d91a75 {
  background: var(--darkplus-sec);
}

.button_dd4f85 .contents_dd4f85, .icon_a08117, .name_a08117 {
  color: var(--darkplus-sec);
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkplus-sec) !important;
}
::selection {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-links);
}








/*-----------------------------------------------*/








:root {
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */

	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}


/* horizontal server list fix */
#app-mount .app_bd26cc .base_a4d4d9 {
	top: calc(var(--server-container) + var(--spacing)) !important;
}

/* list hover animations */
.wrapper_d8bfb3 .link_d8bfb3 /* channels */,
.container_e9f61e /* members */,
.channel_c91bad /* dms */,
.side_a0 .item_a0 /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper_d8bfb3:hover .link_d8bfb3,
.side_a0 .item_a0:hover {
	margin-left: 10px;
}
.container_e9f61e:hover,
.channel_c91bad:hover {
	margin-left: 18px;
}






/*---------------------------------------------------*/






:root {

	/* color of status indicators and window controls */
	--online-indicator: var(--accent-2); /* change to #23a55a for default green */
	--dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
	--idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(190, 70%, 60%); /* links */
	--accent-2: #fad9f6; /* online */
	--accent-3: #fad9f6; /* accent buttons */
	--accent-4: hsl(190, 70%, 36%); /* accent buttons when hovered */
	--accent-5: hsl(190, 70%, 30%); /* accent buttons when clicked */
	--mention: hsla(190, 80%, 52%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(190, 80%, 52%, 0.05); /* mentions & mention messages when hovered */

	/* background and dark colors */

	--bg-4: #383538; /* main background color */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */


	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}

/* change fonts (edit the variables above, not this part) */
:root {
	--font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* modify colors */
#app-mount .container_ee69e0 /* channel list */,
.privateChannels_f0963d /* dms list */,
#app-mount .container_b2ca13 /* user panel inner */,
.members_cbd271 /* member list inner */,
.member_a31c43 /* member list members */,
.searchResultsWrap_c2b47d /* search results */,
.searchHeader_b7c924 /* search results header */,
.chat_a7d72e.container_f3abf4 /* message requests */,
#app-mount .panels_a4d4d9 > div /* user panel children */,
.container_adcaac /* vc panel */,
.sidebarRegionScroller_c25c6d /* settings left */,
#app-mount .container_f1fd9c /* browse channels container */,
#app-mount .header_f1fd9c /* browse channels header */,
#app-mount .container_c2efea /* browse channels inner */,
.chat_a7d72e.background_e85cee /* server guide body */,
#app-mount .scrollerContainer_c6b11b /* channels and roles customize */,
.shop_e77fa3 /* shop */,
.wrapper_d880dc.minimum_d880dc /* private call */,
.container_effbe2, .container__33507 /* emoji/sticker and gif picker searchbars */,
#app-mount .uploadModal_f82cc7 /* upload modal */,
.uploadModal_f82cc7 .footer_f82cc7 /* upload modal footer */ 

.userPanelOuter_c69a7b {
	--background-secondary-alt: var(--bg-4) !important;
}
.mainCard_a6d69a /* forum post */,
.navRow_be9398[data-theme=dark] /* add new account bottom */ {
	background: var(--bg-3);
}
.folderIconWrapper_bc7085[style="background-color: rgba(88, 101, 242, 0.4);"] /* default color closed folders */ {
	background: var(--bg-3) !important;
}
.folder_bc7085.hover_bc7085 /* folder opened on hover */, 
#app-mount .outer_c0f6a6.interactive_c0f6a6:hover, #app-mount .outer_c0f6a6.active_c0f6a6 /* friend activity cards on hover */ {
	background: var(--bg-2);
}
#app-mount .searchAnswer_b0fa94, /* search filter answer */
#app-mount .searchFilter_b0fa94 /* search filter */ {
	background: var(--bg-1);
}
.newChannel_ecb303 /* new channel */ {
	background: var(--bg-1) !important;
}
.chat_a7d72e /* chat + member list */,
.sidebar_a4d4d9 /* channel sidebar */,
.privateChannels_f0963d .scroller_c47fa9 /* dms list inner */,
#app-mount .innerHeader_f1fd9c:after /* channels and roles header shadow */,
.attachedBars_d0696b /* reply bar underneath */ {
	background: none;
}
.selected_fd6364 .header_fd6364, .clickable_fd6364 .header_fd6364:hover /* server name hover */ {
	background: var(--message-hover);
}
.message_d5deea.replying_d5deea.selected_d5deea, .mouse-mode.full-motion .message_d5deea.replying_d5deea:hover /* fix reply message hover */ {
	background: var(--background-message-highlight-hover);
}
div.message_d5deea.replying_d5deea::before /* change reply message bar to neutral */ {
	background: var(--text-2);
}
.activeButtonChild_a06035 /* send button */ {
	color: var(--accent-2);
}
.container_b2ca13 /* user panel button strikethroughs */,
.numberBadge_df8943  /* unread number badge */,
.toolbar_fc4f04 /* toolbar button strikethroughs */ {
	--status-danger: var(--accent-2);
}
.expandedFolderIconWrapper_bc7085 > svg[style="color: rgb(88, 101, 242);"] /* default color folder icons */ {
	color: var(--accent-3) !important;
}
.divider_d5deea /* unread divider */,
.mention_c10249 /* NEW unread pill */,
.mentionsBar_eba0ba /* channel list new mention pill */ {
	--status-danger: var(--accent-3);
}
.message_d5deea.mentioned_d5deea:before /* mention message left edge */,
.botTagOP_a9e77f /* OP tag */ {
	background: var(--accent-3);
}
.container_cebd1c.checked_cebd1c /* settings checkbuttons */ {
	background: var(--accent-3) !important;
}
.mention_c10249:active /* NEW unread pill when clicked */ {
	background: var(--accent-4);
}
path[fill='rgba(35, 165, 90, 1)'] {
	fill: var(--accent-3);
}
path[fill='var(--white-500)'] {
	fill: var(--text-0) !important;
}
.numberBadge_df8943 /* dms number badge */,
.newMessagesBar_cf58b5 .barButtonBase_cf58b5 /* unread bar */,
.botTagRegular_a9e77f /* bot tag */,
.endCap_c2654d /* unread divider */,
.lookFilled_dd4f85.colorBrand_dd4f85 /* accent buttons */,
.lookFilled_dd4f85.colorBrand_dd4f85 .defaultColor__77578 /* accent buttons */,
.lookFilled_dd4f85.colorBrandNew__8872c /* accent buttons */,
.lookFilled_dd4f85.colorGreen_dd4f85 /* green buttons */,
.lookFilled_dd4f85.colorRed_dd4f85 /* red buttons */,
.lookFilled_dd4f85.colorYellow__818c3 /* yellow buttons */,
.bar_c10249 /* NEW unread pill */,
.wrapper_f90abb:hover .childWrapper_f90abb, /* default server icon text */ 
.wrapper_f90abb.selected_ae80f7 .childWrapper_f90abb /* default server icon text */,
.colorDefault_d90b3d.focused_d90b3d /* menu option hover */,
.colorDefault_d90b3d.focused_d90b3d .caret_d90b3d /* popup menu hover caret */,
.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) /* menu option active */,
.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) .caret_d90b3d /* menu option active */,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c /* add friend button */,
#app-mount .button__33db6 /* notice banner button */,
.interactive:hover /* mention hover */,
.uploadIcon_f2f431 /* profile upload image */,
.focused_e1268c .userMenuUsername_e1268c .userMenuText_e1268c /* account switcher account hover */,
.dots_ce0450 /* typing dots */,
.lookOutlined_dd4f85.colorWhite_dd4f85 /* server banner buttons */,
.header_dd5a33 /* server preview mode banner */,
.categoryItem_c72b37.selectedCategoryItem_c72b37,
.live_e17fae /* streaming live */,
#app-mount .activeButton_b48941 /* member page pagination button */ ,
#app-mount .tooltipBrand_b6c360 /* member page filter tooltip */,
.button_adcaac.buttonColor_adcaac.buttonActive_adcaac /* active voice channel icons */,
.button_adcaac.buttonColor_adcaac.buttonActive_adcaac:hover /* active voice channel icons */,
.vcd-screen-picker-radio[data-checked="true"] .defaultColor_a595eb /* vencord stream resolution picker buttons when active */,
.icon_c07d45 /* streaming activity type icon  */,
.theme-dark .tooltipGreen_b6c360, .theme-light .tooltipGreen_b6c360 /* tooltip text like vc latency */ {
	color: var(--text-0);
}
#app-mount .button__33db6, .theme-light .button__33db6 /* notice banner button */,
.lookOutlined_dd4f85.colorWhite_dd4f85 /* server banner buttons */ {
	border-color: var(--text-0);
}
#app-mount .button__33db6:hover {
	border-color: var(--text-0);
	background-color: var(--text-0);
}
.container_cebd1c /* settings checkbutton background */ {
	background: var(--bg-1) !important;
}
.container_cebd1c.checked_cebd1c > .slider_cebd1c > rect /* settings checkbutton circle */,
.userMenuItem_e1268c path[fill="var(--white-500)"] /* account switcher account hover */,
.colorDefault_d90b3d.focused_d90b3d path {
	fill: var(--text-0);
}
.closeIcon__967e7 path /* alert banner close icon */ {
	fill: currentColor;
}
.container_cebd1c > .slider_cebd1c > rect /* settings checkbutton circle */ {
	fill: var(--text-1);
}
.menu_ad5fac .menuItemFocused_ad5fac /* account switch button hover */ {
	color: var(--text-3);
}
.menu_ad5fac .menuItemFocused_ad5fac path /* account switch button hover */ {
	fill: var(--text-3);
}
.mini_c7a159 .grabber_c7a159 /* spotify bar handle */ {
	margin-top: 4px;
	border-width: 1px;
}
.grabber_c7a159 /* settings slider handle */ {
	border-width: 0;
}
.button_adcaac.buttonColor_adcaac /* fix vc buttons */ {
	color: var(--text-4);
}
.button_adcaac.buttonColor_adcaac:hover /* fix vc buttons hover */ {
	background-color: var(--hover);
	color: var(--text-3);
}
.iconBadge_c96c45.isCurrentUserConnected_c96c45 /* change server vc badge to neutral */ {
	background-color: var(--darkplus-sec);
	color: var(--text-1);  /*mic*/
}
.bannerVisible_fd6364 .headerContent_fd6364 /* server name over banner image */,
#app-mount .categoryText_af1167 /* gif chooser category names */,
.searchTitle_a3a4ce {
	color: white;
}
.gifIcon_f2f431 /* profile upload image gif chooser */ {
	background-color: white;
}
.controlIcon_ef18ee /* fix video maximize button */ {
	color: var(--text-1);
	opacity: 0.6;
}
.controlIcon_ef18ee:hover /* fix video maximize button hover */ {
	opacity: 1;
}
::selection {
	background: var(--accent-4);
	color: var(--text-0);
}
.lookFilled_f6639d.select_f6639d {
	border: none;
}
.checkbox_f6cde8 /* channel checkboxes */ {
	border-color: var(--text-4) !important;
}
.newBadge_a57509 /* fix forum new badge */ {
	color: var(--accent-2);
	line-height: 16px;
}

/* remove shadows */
#app-mount .header_b56bbc /* gif picker */ {
	box-shadow: none;
}
#app-mount .textContentFooter_a57509 /* forum post image fade */ {
	background: none;
}

/* change online indicator color */
rect[fill='#23a55a'],
svg[fill='#23a55a'] {
	fill: var(--online-indicator) !important;
}
.status_c7d26b[style='background-color: rgb(35, 165, 90);'] {
	background-color: var(--online-indicator) !important;
}
rect[fill='#f0b232'],
svg[fill='#f0b232'] {
	fill: var(--idle-indicator);
}
.status_c7d26b[style='background-color: rgb(240, 178, 50);'] {
	background-color: var(--idle-indicator) !important;
}
rect[fill='#f23f43'],
svg[fill='#f23f43'] {
	fill: var(--dnd-indicator);
}
.status_c7d26b[style='background-color: rgb(242, 63, 67);'] {
	background-color: var(--dnd-indicator) !important;
}
rect[fill='#593695'],
svg[fill='#593695'] {
	fill: var(--streaming-indicator);
}
.status_c7d26b[style='background-color: rgb(89, 54, 149);'] {
	background-color: var(--streaming-indicator) !important;
}

/* color fix filters */
.container_aef5fd:last-child .icon_aef5fd /* explore discoverable servers icon color */ {
	background-color: #3ba55c;
	filter: var(--green-to-accent-3-filter);
}
.container_aef5fd:first-child .icon_aef5fd /* explore discoverable servers icon color */ {
	filter: var(--blurple-to-accent-3-filter);
}
.artwork_bdd070 /* filter login image */ {
	filter: var(--login-bg-filter);
}

/* fix weird message bar padding */
.clipContainer_b11c5e {
	padding-top: 0;
	margin-top: 0;
}

/* separate header bar */
.title_a7d72e.themed_fc4f04 /* remove bg */ {
	background: none;
}
.searchResultsWrap_c2b47d /* allow overflow */ {
	overflow: visible;
}
.chatContent_a7d72e::before /* main chat */,
.membersWrap_cbd271::before /* member list */,
.searchResultsWrap_c2b47d::before /* search results */,
.userPanelOuter_c69a7b::before /* dm profile */,
.container_a6d69a::before /* forums */ {
	content: '';
	position: absolute;
	margin-top: -48px;
	background: var(--background-primary);
	width: 100%;
	height: 48px;
	border-radius: var(--roundness-xl) var(--roundness-xl) 0 0;
}
.wrapper_d880dc.minimum_d880dc ~ .content_a7d72e .container__93316::before /* remove when in private call */ {
	display: none;
}
.membersWrap_cbd271 /* fix members list height when not scroll */ {
	height: 100%;
}

/* rearrange toolbar */
a[href="https://support.discord.com"] /* hide help */
{
	display: none;
}
.search_ff5f90 {
	order: 1;
	margin: 0 4px 0 12px;
}
.chat_a7d72e:has(.searchResultsWrap_c2b47d) .searchBar_a46bef {
	width: 394px !important;
	margin-left: calc(var(--spacing) + 8px);
}
.chat_a7d72e:has(.userPanelOuter_c69a7b) .searchBar_a46bef {
	width: 316px !important;
	margin-left: calc(var(--spacing) + 8px);
}
.chat_a7d72e:has(.membersWrap_cbd271) .searchBar_a46bef {
	width: 216px !important;
	margin-left: calc(var(--spacing) + 8px);
}

/* add spacing */
.base_a4d4d9 /* outside edges */ {
	margin: 0 var(--spacing) var(--spacing) 0;
}
.sidebar_a4d4d9 /* channel list and user panel */,
.content_a7d72e /* between chat and member list */ {
	gap: var(--spacing);
}
.sidebar_a4d4d9 /* channel list and chat */ {
	margin-right: var(--spacing);
}
.sidebar_a4d4d9.hidden_a4d4d9 {
	margin-right: 0;
}
.resizeHandle_d1c246 /* pretend to be a margin */ {
	width: var(--spacing);
}
.wrapper_d880dc.fullScreen_d880dc .callContainer_d880dc /* fullscreen vc */ {
	margin-top: var(--spacing);
}
.notice_be03aa /* banner notice */,
.wrapper_d880dc.minimum_d880dc /* private call */ {
	margin-bottom: var(--spacing);
}
/* fix padding */
#vc-spotify-player /* vencord spotify */,
.container_adcaac /* vc panel */,
.panel_bf1a22 /* stream panel */ {
	padding: 10px;
}

/* add rounded corners */
.container_ee69e0 /* channel list */,
.panels_a4d4d9 /* user panels */,
.privateChannels_f0963d /* dms list */,
.container_c2739c /* friends page */,
.applicationStore_cecc86 /* nitro page */,
#app-mount .container_f3abf4 /* message requests */,
.shop_e77fa3 /* discord shop */,
.container_d576e9 /* family center */,
.container_d1c246 /* message request */,
#app-mount .callContainer_d880dc /* vc */, 
.chat_a7d72e /* general chat container (for browse channels page */,
.animatedContainer_fd6364 /* server image card */,
.notice_be03aa /* banner notice */,
.wrapper_d880dc.minimum_d880dc, /* private call */
.wrapper_d880dc.minimum_d880dc ~ .content_a7d72e /* chat under private call */,
.main_d8215a /* server onboarding */ {
	border-radius: var(--roundness-xl);
	overflow: hidden;
}
.container__93316 /* main chat */,
.chatContent_a7d72e /* main chat inner */,
.container_cbd271 /* members list */,
.members_cbd271 /* members list inner */,
.searchResultsWrap_c2b47d /* search results */,
.profilePanel_b433b4 /* profile panel outer */,
.userPanelOuter_c69a7b /* profile panel inner */,
.userPanelInner_c69a7b /* profile panel inner inner */,
.userPanelInner_c69a7b::before /* profile panel inner inner filter */,
.container_a6d69a /* forums */ {
	border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}

/* more rounded corners */
.messagesPopoutWrap_ac90a2 /* inbox, pinned messages popout */,
.container_e664f3 /* thread popout */,
.menu_d90b3d .item_d90b3dd /* server option popout */,
.userPopoutOuter_c69a7b /* user profile popout */,
.root_b9fccc /* user profile modal */,
.contentWrapper_af5dbb /* emoji, sticker, gif pickers */,
.footer_f9a4c9 /* edit modal footer */,
.layerContainer_cd0de5 .root_f9a4c9 /* upload modal */,
.uploadModal_f82cc7 .footer_f82cc7 /* upload modal footer */ {
	border-radius: var(--roundness-l);
}
.roundedBanner_c3e427 /* user profile popout top */,
.banner_ab876d /* user profile top when edit */ {
	border-radius: calc(var(--roundness-l) - 4px) calc(var(--roundness-l) - 4px) 0 0;
}
.userPopoutInner_c69a7b:before /* user profile popout bottom */,
.userProfileModalInner_c69a7b:before /* user profile modal bottom */ {
	border-radius: calc(var(--roundness-l) - 4px);
}
.menu_d90b3d /* general popouts */,
.embed_b0068a/* embeds */,
.mediaAttachmentsContainer__242e2 /* image container */,
.oneByOneGridSingle_cda674 /* image container single */,
.imageContainer_cf58b5 .imageWrapper__178ee /* gif wrapper */,
.markup_f8f345 code /* code block */,
.itemCard_f02fcf /* friend activity */,
.peopleListItem_d51464:hover /* online list friends */,
.withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover /* user panel username */,
.messageGroupWrapper_ac90a2 /* pinned messages */,
.accountProfileCard_b69b77 /* my account settings profile background */,
.userProfileInner_c69a7b /* user profile inner */ {
	border-radius: var(--roundness-m);
}
.scrollableContainer_d0696b /* message bar */,
.channelTextArea_a7d72e /* message bar underneath */,
.select_f6639d /* bot dropdown select */,
.layout_e9f61e /* members */,
.interactive_f5eb4b /* dms */,
.container_c15230 /* thread link */,
.input_f8bc55 /* settings inputs */,
.item_eb92a8 /* settings radiobutton bars */,
.item_eb92a8 .radioBar_eb92a8 /* settings radiobutton bars */ {
	border-radius: var(--roundness-s);
}
.select_f6639d.open_f6639d /* vencord plugin show all */ {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.popout_f6639d /* vencord plugin show all */ {
	border-radius: 0 0 var(--roundness-s) var(--roundness-s);
}
.banner_d29eee /* community server tutorial thing on message bar */ {
	border-radius: var(--roundness-s) var(--roundness-s) 0 0;
}
.scrollableContainer_d0696b.hasConnectedBar_d0696b /* fix message bar with reply bar */ {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.replyBar_b11c5e {
	border-radius: var(--roundness-s) var(--roundness-s) 0 0;
}
.link_d8bfb3 /* channels */,
.content_cdc675 /* member connected to vc */,
.side_a0 .item_a0 /* settings tabs */,
button.button_dd4f85 /* small buttons */,
.container__33507 /* friend searchbar */,
.container_effbe2, /* sticker/emoji picker searchbar */
.item_d90b3d /* general popout buttons */,
.icon_c07d45 /* streaming icon */,
#vc-spotify-album-image,
.background_ae3c77 /* settings nitro tab selected */,
.hoverButtonGroup_e5c1dc /* video download button */,
.wrapper_ef319f /* message hover menu */,
.previewChannelRowContent_c5d9bc {
	border-radius: var(--roundness-xs);
}
.hoverButtonGroup_e5c1dc /* reposition video download button */ {
	top: 6px;
	right: 6px;
}
.wrapper_a7c28c /* mentions */,
.searchBar_a46bef /* search bar */,
.searchBar_f0963d .searchBarComponent_f0963d /* find conversation search bar */,
.topPill_a0 .item_a0 /* friend online/categories */ {
	border-radius: var(--roundness-xxs);
}
#app-mount .centerButton_ef18ee /* fix vc buttons */ {
	border-radius: 50%;
}

/* fix view server as role popup */
.viewAsRolesWarning_adcaac {
	position: fixed;
	left: 102px;
}

/* separate guilds panel background */
.guilds_a4d4d9 {
	background: var(--bg-4);
	border-radius: var(--roundness-xl);
	margin: 0 0 var(--spacing) var(--spacing);
}
.guilds_a4d4d9.hidden_fea3ef {
	margin: 0;
}
#app-mount .scroller_fea3ef {
	padding: 12px 0;
}
.base_a4d4d9 {
	margin-left: var(--spacing);
}
.guilds_a4d4d9::after /* add bottom scroll shadow */,
.membersWrap_cbd271::after {
	content: '';
	position: absolute;
	background: linear-gradient(transparent 85%, var(--bg-4) 100%);
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	pointer-events: none;
	border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}
.guilds_a4d4d9::before /* add top scroll shadow */ {
	content: '';
	position: absolute;
	background: linear-gradient(var(--bg-4) 0%, transparent 15%);

}
.childWrapper_f90abb {
	background: var(--bg-3);
}
.container_a4d4d9 > [style$='display: flex;'] > .guilds_a4d4d9 {
	margin: 0;
}
.container_a4d4d9 > [style$='display: flex;'] {
	margin: 0 0 var(--spacing) var(--spacing);
}
/*-------------------------------*/


:root {

	--corner-text: 'ㅤㅤㅤㅤ ㅤㅤㅤ    ㅤㅤㅤㅤㅤSakura';
}
.platform-osx .container_a4d4d9 {
    margin-top: 32px;
} */

/* top corner title */
[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 6px;
}

/*--------------------------------------------------*/
