/**
 * @name Sakura
 * @author pimpekbk
 * @description Dark and pink theme for Discord
 * @invite rWBT2CsEET
 * @version 2.0
 * @donate https://ko-fi.com/pimpekbk
 */
 :root {
    --online: #fad9f6; /* online */
    --offline: hsl(340, 60%, 60%); /* offline */
    --iddle: hsl(50, 60%, 60%); /* idle */
    --home-icon: url(https://github.com/user-attachments/assets/442d1934-c84a-4ae8-9d0c-c8e104dfe248);
    --bg: #2c2a2c;
    --bg2: #383538;
    --sec: #fad9f6;
    --sec2: #504b4f;
    --links: #e6c4e3;
    --rg: #3d383d;
    --rg2: #504a50;
    --accent-1: #555155;
    --text-1: #2c2a2c;
    --background-secondary: #383538;
    --brand-500: var(--accent-1);
    --background-primary: var(--bg-4);
    --home-background: var(--bg-4);
    --text-link: var(--links);
    --background-mentioned: var(--bg2);
    --background-mentioned-hover: var(--bg2);
    --login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4);
    --green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43);
    --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); 
    --font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --list-item-transition: 0.2s ease; 
    --unread-bar-transition: 0.2s ease; 
    --moon-spin-transition: 0.4s ease;
    --icon-spin-transition: 1s ease;
    --spacing: 12px;
    --r-l: 22px; 
    --r-2: 20px;
    --r-3: 16px; 
    --r-4: 12px; 
    --r-5: 10px; 
    --r-6: 8px; 
	--primary-630: var(--bg2);
  }
  .channelHeader_f3978e {
  background-color: var(--bg);
  }
  .messageContainer_ddb5b4 {
  background-color: var(--bg2);
  }
  .jumpToPresentBar_cf58b5 {
  background-color: var(--sec2);
  border-radius: 20px;
  }
  .item-1OdjEX, .icon_ad923e, .userTagDiscriminatorNoNickname-2HLaIE {
  color: var(--sec);
  }
  .bg_d4b6c5,
  .container_e40c16 {
	background-color: var(--bg);
  }
  .message_d5deea.mentioned_d5deea:before,
  .botTagOP_a9e77f{
	background: var(--sec);
  }
  .form_a7d72e {
	background-color: var(--bg);
  }
  .form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b {
	max-height: 45vh;
	background-color: var(--bg2);
	border-radius: 22px;
  }
  .topSection-13QKHs {
	background-color: transparent;
  }
  .container_bf550a {
	background-color: var(--bg);
  }
  .container_bf550a .scroller_bf550a {
	margin-left: 0;
	border-left: none;
  }
  .wrapper_cd82a7 {
	background-color: var(--rg);
	border: none;
  }
  .wrapper_cd82a7 .inset_ac5d22 {
	background-color: var(--rg2);
  }
  .mention_edf32f {
	background-color: var(--sec);
  }
  .button_f7e168 path {
	fill: var(--sec);
  }
  .iconWrapper_fc4f04 path {
	color: var(--sec);
  }
  .linkButtonIcon_c91bad path {
	color: var(--sec);
  }
  .actionButton_e01b91 path {
	color: var(--sec);
  }
  .winButton_a934d8 {
	color: var(--sec);
  }
  .icon_effbe2 {
	height: 24px;
	width: 24px;
	color: var(--sec);
  }
  .iconContainer_effbe2 {
	bottom: 5px;
  }
  .search_ff5f90 {
	margin-left: 0px;
  }
  .headerText_c47fa9 {
	color: var(--sec);
  }
  .childWrapper_a6ce15 path {
	fill: transparent;
  }
  .wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {
	background: var(--home-icon) center/cover no-repeat;
	min-width: 50px;
	min-height: 50px;
  }
  .wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {
	display: none;
  }
  .grid_b0068a {
	background-color: var(--bg2);
  }
  .contents_f9f2ca .messageContent_f9f2ca, .container_b558d0 {
	background-color: var(--bg2);
	display: inline-block;
	max-width: 650px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0;
	padding: 8px;
	border-radius: 15px;
  }
  .messageContent_f9f2ca:empty {
	display: none !important;
  }
  article.embedWrapper_b558d0.embedFlexGrow_b558d0.embedFull_b0068a.embed_b0068a.markup_f8f345.justifyAuto_b0068a {
	width: 432px;
  }
  .markup_f8f345 blockquote, .markup_f8f345 pre {
	max-width: 100%;
  }
  .theme-dark .closeButton_df5532 {
  border-color: var(--sec);
  }
  #app-mount .bd-switch-checked .bd-switch-body 
  {background-color: var(--sec)
  }
  #app-mount .bd-switch-checked .bd-switch-body svg path 
  {fill: var(--sec)
  }
  .avatar_f9f2ca.clickable_f9f2ca {
	filter: drop-shadow(0 0 5px);
	color: var(--sec);
  }
  .avatar_f9f2ca:hover.clickable_f9f2ca:hover {
	filter: drop-shadow(0 0 8px);
	color: var(--sec);
	transform: scale(1.2) rotate(360deg); 
	transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
  }
  .title_a7d72e.container_fc4f04.themed_fc4f04, .theme-dark .children_fc4f04:after {
	background: var(--bg);
  }
  .buttonWrapper_f9af59 svg {
	color: var(--sec);
  }
  .sidebar_a4d4d9 + div {
	background-color: var(--bg);
  }
  .title_a7d72e {
	  z-index: 11;
  }
  .members_cbd271,
  .membersWrap_cbd271, .container_cbd271 {
	  min-width: 60px;
	  transition-duration: 500ms;
	  transition-property: box-shadow, min-width, width;
	  width: 60px;
	  z-index: 10;
  }
  .members_cbd271:hover,
  .membersWrap_cbd271:hover {
	  min-width: 240px;
	  width: 240px;
  }
  .membersWrap_cbd271 {
	  height: 100%;
	  position: absolute;
	  right: 0;
  }
  .membersWrap_cbd271:hover {
	  box-shadow: 0 0 20px 10px #8f838d;
  }
  .membersGroup_cbd271 {
	  height: 0;
	  transition-duration: 500ms;
	  transition-property: height;
  }
  .members_cbd271:hover .membersGroup_cbd271 {
	  height: 40px;
  }
  .container_b2ca13 ,
  .numberBadge_df8943 ,
  .toolbar_fc4f04 {
  --status-danger: var(--offline);
  }
  .unread_d8bfb3 {
	background-color: var(--sec);
  }
  .overflow_a82120 {
	color: var(--links);
  }
  .item_c4cd66 {
	background-color: var(--sec);
  }
  .subtext_be40e6 {
	color: var(--links);
  }
  .activityHeader-2shpl0 {
	color: var(--sec);
  }
  .circleIconButton_db6521 {
	color: var(--sec);
	background-color: var(--bg2);
  }
  .circleIconButton_db6521.selected_db6521 {
	color: var(--bg2);
	background-color: var(--sec);
  }
  .item_c2739c[aria-label="Add Friend"] {
	color: var(--bg) !important;
	background-color: var(--sec) !important;
  }
  .sidebarRegionScroller_c25c6d {
	background-color: var(--bg);
  }
  .scrollableContainer_d0696b {
	background-color: var(--bg2);
  }
  button[aria-label="Send a gift"] {
	display: none;
  }
  .typeWindows_a934d8 {
	position: relative;
  }
  .wordmark_a934d8 {
	display: flex;
	align-items: center;
	padding: 0 6px;
	height: calc(100% + 4px);
	top: -4px;
	font-size: 14px;
	font-weight: 600;
	font-family: "Lato";
	color: var(--sec);
  }
  .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeSelected_d8bfb3 .icon_d8bfb3, .modeSelected_d8bfb3:hover .icon_d8bfb3, .modeUnreadImportant_d8bfb3 .icon_d8bfb3, .modeUnreadImportant_d8bfb3:hover .icon_d8bfb3, .modeConnected_d8bfb3 .name_d8bfb3, .modeConnected_d8bfb3:hover .name_d8bfb3, .modeSelected_d8bfb3 .name_d8bfb3, .modeSelected_d8bfb3:hover .name_d8bfb3, .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3:hover .name_d8bfb3 {
	color: var(--links);
  }
  .name_d8bfb3 {
	color: var(--sec);
  }
  .hasBanner_fd6364 .header_fd6364,
  .hasBanner_fd6364 .header_fd6364:hover {
	background-color: var(--bg);
  
  }
  .scroller_fea3ef {
	background-color: var(--bg) !important;
	}
  .panel_bf1a22.activityPanel_a4d4d9 {
	background-color: var(--bg);
  }
  .item_c4cd66 {
	background-color: var(--sec);
  }
  .container_adcaac {
	background-color: var(--bg);
  }
  .button_adcaac.buttonColor_adcaac,
  .button_adcaac .buttonColor_adcaac {
	background-color: var(--bg2);
	color: var(--sec);
  }
  .subtext_be40e6 {
	color: var(--links);
  }
  .content_c2654d {
	background-color: transparent;
	color: var(--sec);
  }
  .icon_d864ab, .name_ec8679 {
	color: var(--sec);
  }
  .peopleList_e0840f,
  .container_fc4f04.themed_fc4f04,
  .peopleColumn_c2739c,
  .scroller_c47fa9,
  .searchBar_f0963d,
  .activityPanel_a4d4d9,
  .container_b2ca13,
  .scroller_e2e187 {
	background-color: var(--bg);
  }
  children_fc4f04:after {
	background: var(--bg);
  }
  .status_c7d26b[style='background-color: rgb(240, 178, 50);'] {
	background-color: var(--iddle) !important;
  }
.status_c7d26b[style='background-color: rgb(242, 63, 67);'] {
	background-color: var(--offline) !important;
   }
  .icon_fc4f04,
  .title_fc4f04,
  .tabBar_c2739c .item_c2739c,
  .brand-3g5E0C.item-3XjbnG:hover,
  .themed-2-lozF.item-3XjbnG:hover,
  .clickable_fc4f04 .icon_fc4f04,
  .clickable_fc4f04:hover .icon_fc4f04:hover,
  .title_a1cafe,
  .linkButtonIcon_c91bad,
  .name_d808b0,
  .username_f3939d,
  .text_f7ebfd,
  .discriminator_f3939d,
  .button_adca65,
  .button_adca65.enabled_adca65:hover,
  .title_d1da5f,
  .hovered_e07331,
  .customStatus_b2ca13 {
	color: var(--sec);
  }
  .actionButton_e01b91 {
	color: var(--sec);
	background-color: var(--bg);
  }
  
  .actionButton_e01b91:hover {
	color: var(--bg);
	background-color: var(--bg2);
  }
  .searchBar_f0963d .searchBarComponent_f0963d {
	background-color: var(--sec);
	color: var(--bg);
	border-radius: 10px;
  }
  .members_cbd271,
  .members_cbd271 > div {
	background-color: var(--bg);
  }
  .usernameContainer__22048, .activityText_a31c43, .activity-icon {
	color: var(--sec);
  }
  .membersGroup_cbd271 {
	color: var(--links);
  }
  path[fill='rgba(35, 165, 90, 1)'] {
	fill: var(--sec);
  }
  .container_cebd1c.checked_cebd1c{
	background: var(--sec) !important;
  }
  .container_cebd1c > .slider_cebd1c > rect{
	fill: var(--bg);
  }
  .container_cebd1c{
	background: var(--bg2) !important;
  }
  .member_cbd271, .members_cbd271 {
	background-color: var(--bg);
  }
  .theme-dark .container_b2ca13 {
	background-color: var(--bg);
  }
  .container_ee69e0 {
	background-color: var(--bg) !important;
  }
  .headerText_a0, .sidebar_c25c6d .side_a0 .item_a0, .bd-sidebar-header h2 {
	color: var(--sec);
  }
  .modeUnreadImportant_d8bfb3 .name_d8bfb3, .modeUnreadImportant_d8bfb3 .icon_d8bfb3 {
	color: var(--links);
  }
  .theme-dark .scroller_c47fa9 {
	background: var(--bg) !important;
  }
  .theme-dark {
  --modal-background: var(--bg);
  }
  .wrapper_f7e168 {
	background-color: var(--bg2);
  }
  .numberBadge_df8943, .mentionsBar_eba0ba {
	background-color: var(--sec) !important;
	color: var(--bg) !important;
  }
  .icon_fc4f04, .title_fc4f04, .icon_c18ec9 {
	color: var(--sec);
  }
  .full-motion .container_d331f1, .selected_f5eb4b {
	background-color: var(--bg2);
  }
  
  .sprite_d91a75.spriteGreyscale_d91a75.active_d91a75 {
	background: var(--sec);
  }
  .button_dd4f85 .contents_dd4f85, .icon_a08117, .name_a08117 {
	color: var(--sec);
  }
  ::-webkit-scrollbar-thumb {
	background-color: var(--sec) !important;
  }
  .attachButtonPlus_f298d4 {
	fill: var(--sec);
  }
  .actionIcon_f6f816 path {
	fill: var(--sec);
  }
  :root {
	  --list-item-transition: 0.2s ease; 
  
	  --blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); 
  }
  #app-mount .app_bd26cc .base_a4d4d9 {
	  top: calc(var(--server-container) + var(--spacing)) !important;
  }
  .wrapper_d8bfb3 .link_d8bfb3,
  .container_e9f61e,
  .channel_c91bad ,
  .side_a0 .item_a0{
	  transition: margin-left var(--list-item-transition);
  }
  .wrapper_d8bfb3:hover .link_d8bfb3,
  .side_a0 .item_a0:hover {
	  margin-left: 10px;
  }
  .container_e9f61e:hover,
  .channel_c91bad:hover {
	  margin-left: 18px;
  }
  .chatContent_a7d72e {
	max-width: calc(100% - 60px);
  }
  .content_a7d72e:before {
  box-shadow: none !important;
  }
  .form_a7d72e .channelTextArea_a7d72e .scrollableContainer_d0696b {
  max-height: 45vh;
  background-color: var(--bg2);
  border-radius: 22px;
  }
  .form_a7d72e .channelTextArea_a7d72e {
  background-color: transparent;
  }
  .form_a7d72e:before {
  display: none;
  }
  .wrapper_cd82a7:hover,
  .wrapper_cd82a7.active_ac5d22 {
  background-color: var(--rg2) !important; 
  }
  .userPanelOuter_c69a7b {
	  --background-secondary-alt:!important;
  }
  .folderIconWrapper_bc7085[style="background-color: rgba(88, 101, 242, 0.4);"] /* default color closed folders */ {
	  background: var(--bg2) !important;
  }
  .newChannel_ecb303  {
	  background: var(--bg-1) !important;  
  }
  .sidebar_a4d4d9,
  .attachedBars_d0696b {
	  background: none;
  }
  .expandedFolderIconWrapper_bc7085 > svg[style="color: rgb(88, 101, 242);"] /* default color folder icons */ {
	  color: var(--sec) !important;
  }
  .divider_d5deea ,
  .mentionsBar_eba0ba {
	  --status-danger: var(--sec);
  }
  rect[fill='#23a55a'],
  svg[fill='#23a55a'] {
	  fill: var(--online) !important;
  }
  .status_c7d26b[style='background-color: rgb(35, 165, 90);'] {
	  background-color: var(--online) !important;
  }
  rect[fill='#f23f43'],
  svg[fill='#f23f43'] {
	  fill: var(--offline);}
  :root {
  
	  --corner-text: 'ㅤㅤㅤㅤ ㅤㅤㅤ    ㅤㅤㅤㅤㅤSakura';
  }
  .platform-osx .container_a4d4d9 {
	  margin-top: 32px;
  } */
  
  [class^='wordmarkWindows'] {
	  padding: 4px var(--spacing);
  }
  [class^='wordmarkWindows'] > svg {
	  display: none;
  }
  [class^='wordmarkWindows']::after {
	  content: var(--corner-text);
	  display: block;
	  position: relative;
	  height: 16px;
	  line-height: 16px;
	  font-family: var(--font);
	  font-size: 13px;
	  font-weight: 900;
	  color: var(--text-5);
	  transform: scaleX(1.2);
	  margin-left: 6px;
  }
  a[href="https://support.discord.com"] /* hide help */
  {
	  display: none;
  }
  .search_ff5f90 {
	  order: 1;
	  margin: 0 4px 0 12px;
  }
  .chat_a7d72e:has(.userPanelOuter_c69a7b) .searchBar_a46bef {
	  width: 316px !important;
	  margin-left: calc(var(--spacing) + 8px);
  }
  .base_a4d4d9 {
	  margin: 0 var(--spacing) var(--spacing) 0;
  }
  .sidebar_a4d4d9 ,
  .content_a7d72e {
	  gap: var(--spacing);
  }
  .sidebar_a4d4d9 {
	  margin-right: var(--spacing);
  }
  .sidebar_a4d4d9.hidden_a4d4d9 {
	  margin-right: 0;
  }
  .resizeHandle_d1c246  {
	  width: var(--spacing);
  }
  .wrapper_d880dc.fullScreen_d880dc .callContainer_d880dc {
	  margin-top: var(--spacing);
  }
  .notice_be03aa,
  .wrapper_d880dc.minimum_d880dc{
	  margin-bottom: var(--spacing);
  }
  #vc-spotify-player,
  .container_adcaac,
  .panel_bf1a22{
	  padding: 10px;
  }
  .container_ee69e0,
  .panels_a4d4d9,
  .privateChannels_f0963d,
  .container_c2739c,
  .applicationStore_cecc86,
  #app-mount .container_f3abf4/,
  .shop_e77fa3,
  .container_d576e9,
  .container_d1c246 /,
  #app-mount .callContainer_d880dc, 
  .chat_a7d72e ,
  .animatedContainer_fd6364,
  .notice_be03aa,
  .wrapper_d880dc.minimum_d880dc,
  .wrapper_d880dc.minimum_d880dc ~ .content_a7d72e,
  .main_d8215a{
	  border-radius: var(--r-l);
	  overflow: hidden;
  }
  .container__93316,
  .chatContent_a7d72e ,
  .container_cbd271,
  .members_cbd271 ,
  .searchResultsWrap_c2b47d,
  .profilePanel_b433b4,
  .userPanelOuter_c69a7b,
  .userPanelInner_c69a7b,
  .userPanelInner_c69a7b::before,
  .container_a6d69a{
	  border-radius: 0 0 var(--r-l) var(--r-l);
  }
  .messagesPopoutWrap_ac90a2,
  .container_e664f3,
  .menu_d90b3d .item_d90b3dd,
  .userPopoutOuter_c69a7b,
  .root_b9fccc,
  .contentWrapper_af5dbb,
  .footer_f9a4c9,
  .layerContainer_cd0de5 .root_f9a4c9,
  .uploadModal_f82cc7 .footer_f82cc7{
	  border-radius: var(--r-2);
  }
  .roundedBanner_c3e427,
  .banner_ab876d{
	  border-radius: calc(var(--r-2) - 4px) calc(var(--r-2) - 4px) 0 0;
  }
  .userPopoutInner_c69a7b:before,
  .userProfileModalInner_c69a7b:before{
	  border-radius: calc(var(--r-2) - 4px);
  }
  .menu_d90b3d,
  .embed_b0068a,
  .mediaAttachmentsContainer__242e2,
  .oneByOneGridSingle_cda674,
  .imageContainer_cf58b5 .imageWrapper__178ee,
  .markup_f8f345 code,
  .itemCard_f02fcf,
  .peopleListItem_d51464:hover,
  .withTagAsButton_b2ca13:hover, .withTagless_b2ca13:hover,
  .messageGroupWrapper_ac90a2,
  .accountProfileCard_b69b77,
  .userProfileInner_c69a7b{
	  border-radius: var(--r-3);
  }
  .scrollableContainer_d0696b,
  .channelTextArea_a7d72e ,
  .select_f6639d,
  .layout_e9f61e,
  .interactive_f5eb4b,
  .container_c15230,
  .input_f8bc55,
  .item_eb92a8 ,
  .item_eb92a8 .radioBar_eb92a8{
	  border-radius: var(--r-4);
  }
  .select_f6639d.open_f6639d{
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
  }
  .popout_f6639d{
	  border-radius: 0 0 var(--r-4) var(--r-4);
  }
  .banner_d29eee{
	  border-radius: var(--r-4) var(--r-4) 0 0;
  }
  .replyBar_b11c5e {
	  border-radius: var(--r-4) var(--r-4) 0 0;
  }
  .link_d8bfb3,
  .content_cdc675,
  .side_a0 .item_a0 ,
  button.button_dd4f85,
  .container__33507,
  .container_effbe2,
  .item_d90b3d ,
  .icon_c07d45,
  #vc-spotify-album-image,
  .background_ae3c77,
  .hoverButtonGroup_e5c1dc,
  .wrapper_ef319f,
  .previewChannelRowContent_c5d9bc {
	  border-radius: var(--r-5);
  }
  .hoverButtonGroup_e5c1dc{
	  top: 6px;
	  right: 6px;
  }
  .wrapper_a7c28c,
  .searchBar_a46bef,
  .searchBar_f0963d .searchBarComponent_f0963d,
  .topPill_a0 .item_a0 {
	  border-radius: var(--r-6);
  }
  #app-mount .centerButton_ef18ee{
	  border-radius: 50%;
  }
  .viewAsRolesWarning_adcaac {
	  position: fixed;
	  left: 102px;
  }
  .guilds_a4d4d9 {
	  background: var(--bg-4);
	  border-radius: var(--r-l);
	  margin: 0 0 var(--spacing) var(--spacing);
  }
  .guilds_a4d4d9.hidden_fea3ef {
	  margin: 0;
  }
  #app-mount .scroller_fea3ef {
	  padding: 12px 0;
  }
  .base_a4d4d9 {
	  margin-left: var(--spacing);
  }
  .guilds_a4d4d9::after,
  .membersWrap_cbd271::after {
	  content: '';
	  position: absolute;
	  background: linear-gradient(transparent 85%, var(--bg-4) 100%);
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100px;
	  pointer-events: none;
	  border-radius: 0 0 var(--r-l) var(--r-l);
  }
  .guilds_a4d4d9::before{
	  content: '';
	  position: absolute;
	  background: linear-gradient(var(--bg-4) 0%, transparent 15%);
  }
  .childWrapper_f90abb {
	  background: var(--bg-3);
  }
  .container_a4d4d9 > [style$='display: flex;'] > .guilds_a4d4d9 {
	  margin: 0;
  }
  .container_a4d4d9 > [style$='display: flex;'] {
	  margin: 0 0 var(--spacing) var(--spacing);
  }
